###### Process of data cleaning is called -- Data munging or Data wrangling.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('weather.csv')

In [3]:
df.columns
df.keys     # keys also gives columns details
df.index

RangeIndex(start=0, stop=32, step=1)

In [7]:
df['Temperature'].max()
df['WindSpeedMPH'].mean()
df.describe()       # describe() : gives all statistics

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [11]:
df['EST'][df['Events']=='Rain']       # gives dates of Rain days (bcoz EST is date column)

In [8]:
df.shape

(32, 11)

In [11]:
df.head()          # top 5 rows
df.tail()        # last 5 rows

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
27,1/28/2019,37.0,20.0,51.0,29.90,10.0,5.0,0,1.0,NaN,234.0
28,1/29/2019,36.0,21.0,50.0,29.58,10.0,8.0,0,4.0,NaN,298.0
29,1/30/2019,34.0,16.0,46.0,30.01,10.0,7.0,0,0.0,NaN,257.0
30,1/31/2019,46.0,28.0,52.0,29.90,10.0,5.0,0,0.0,NaN,241.0
31,2/1/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df[2:5]     # gives row from 2 to 4

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2019,40.0,21.0,47.0,29.86,10.0,8.0,0,1.0,NaN,277.0
3,1/4/2019,25.0,9.0,44.0,30.05,10.0,9.0,0,3.0,NaN,345.0
4,1/5/2019,20.0,-3.0,41.0,30.57,10.0,5.0,0,0.0,NaN,333.0

In [12]:
type(df['Events'])

pandas.core.series.Series

In [15]:
df[df.Temperature >= 30]          # gives all rows of Temp. > 30

df[df.Temperature==df.Temperature.max()]   # gives max Temp. row

# gives date and Temp. only ('EST' is date column)
df[['EST','Temperature']][df.Temperature==df.Temperature.max()]

         EST  Temperature
9  1/10/2019         50.0

In [17]:
df.set_index('EST', inplace=True)

df.reset_index(inplace=True)

## Different ways of creating : DataFrame

In [20]:
# 1. from Dictionary
weather_data={                                                                         
    'day':['1/1/2019','1/2/2019','1/3/2019','1/4/2019','1/5/2019','1/6/2019'],
    'Temperature':[32,35,28,24,32,31],                                                
    'windspeed':[7,6,4,2,7,2],
    'event':['rain','sunny','snow','snow','rain','sunny']    
}
df = pd.DataFrame(weather_data)


# 2.from tuple, tuple contains only row data
weather_data = [                   
    ( ,  ,  ,   ),
    ( ,  ,  ,   ),
]
# we provide in this column heading
df = pd.DataFrame(weather_data, columns=['day','temperature','event','windspeed'])   

# 3. from list of dictionary 
weather_data = [                                                           
    {'day':'1/1/2019', 'temperature':32, 'event':'Rain', 'windspeed':7},
    {'day':'2/5/2019', 'temperature':35, 'event':'Sunny', 'windspeed':10},
]
df = pd.DataFrame(weather_data)

# more ways to create DF -- > google --->   pandas io

# -----------------------------------------------------------------

## Read and write csv-excel files

In [ ]:
df = pd.read_csv('weather.csv', skiprows=1, names=[], nrows=5)  

# 'skiprow' skips 1st row  
# header=1 : says data start from 1st row(0,1 index) , header=None
# names=['tickers','eps','revenue','price']   we can give columns names or header names if we not have
# nrows=5  , similar to -> df.head(5)  gives  5 rows only

In [ ]:
# Use of na_values=[] or {} replace all these by 'NaN'
df = pd.read_csv('weather.csv', na_values=['NOT AVAILABLE','N.A.'])

# we can also replace for different and for separate values.  
df = pd.read_csv('weather.csv', na_values={         
    'eps':['NOT AVAILABLE', 'N.A.'],
    'revenue':['NOT AVAILABLE', 'N.A.', -1],
})

### write csv file

In [ ]:
# it bydefault creates index , so use->  index=False   # creates new csv file
df.to_csv('new_stock_data.csv', index=False)    

# creates only 2 columns
df.to_csv('new_stock_data.csv', columns=['tickers', 'eps'], index=False)   

# use of header=False , it not creates  header 
df.to_csv('new_stock_data.csv', columns=['tickers', 'eps'], index=False, header=False)

### write excel file

In [ ]:
df = pd.read_excel('weather.xlsx', 'sheet1')

df.to_excel('new_stock_data.xlsx', sheet_name='stocks', encoding='UTF-8')     
# index=False ,  startrow=1 , startcol=2

### write 2 DF in single excel file

In [ ]:
df_stocks = pd.DataFrame({                                  # use of -->   ExcelWriter()
    'tickers':['GOOGLE','WMT','MSFT'],
    'price':[845,65,64],
    'pe':[30.37,14.26,30.97],
})

df_weather = pd.DataFrame({
    'day':['1/1/2019','1/2/2019','1/3/2019'],
    'temperature':[32,35,28],
    'event':['Rain','Sunny','Snow']
})


# ExcelWriter() creates 'stocks_weather.xlsx' file and this file has 2 sheets : stocks, weather              
with pd.ExcelWriter('stock_Wearher.xlsx') as writer:                                                                        
    df_stocks.to_excel(writer, sheet_name='stocks')                    
    df_weather.to_excel(writer, sheet_name='weather')

# ---------------------------------------------------------

### Handle missing Data : fillna() , dropna() , interpolate()

In [24]:
# parse_dates : changes date pattern, then set_index this 'day' column
# parse_dates=[] -->converts 'date' str() format into Series format

df = pd.read_csv('weather.csv', parse_dates=['EST'])    
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2019-01-01,38.0,23.0,52.0,30.03,10.0,8.0,0,5.0,NaN,281.0
1,2019-01-02,36.0,18.0,46.0,30.02,10.0,7.0,0,3.0,NaN,275.0
2,2019-01-03,40.0,21.0,47.0,29.86,10.0,8.0,0,1.0,NaN,277.0
3,2019-01-04,25.0,9.0,44.0,30.05,10.0,9.0,0,3.0,NaN,345.0
4,2019-01-05,20.0,-3.0,41.0,30.57,10.0,5.0,0,0.0,NaN,333.0

In [ ]:
# fillna() : replace all 'NaN' values with 0 and also create new_df, bcoz we don't want to change original DF
# like we did in above using in df reading csv file use as parameter : na_values=[]

new_df = df.fillna(0)
new_df = df.fillna({
    'temperature':0,
    'event':'no event'   # replacing NaN  by 'no event' 
})

In [ ]:
# In temperature some days have NaN or 0 values -i.e. not good, so we fill it with previous data or value

new_df = df.fillna(method='ffill', limit=1)   
# 'ffill' : forward fill, 'bfill' : backward fill, (limit=1 fills value upto 1 NaN , limit=2 fills 2 NaN)

In [ ]:
# file : "missing_weather_data.csv"
# on 1st we have temp.-> 32 and on 5th -> 28, 
# this interpolate() : comes with linear interpolation , gives->linear value for 4 jan
# interpolate has more method check documentation , it just a better guess
new_df = df.interpolate(method='time')

In [ ]:
new_df = df.dropna(how='all', thresh=1)   # how='all' : drops only row which have all NaN row
# thresh=1 <- threshold ,it keep if any have 1 valid value and drop row if it has none valid

### for missing Date

In [28]:
df = pd.read_csv('missing_weather_data.csv')

# dt = pd.date_range('01-01-2017', '01-11-2017')     # Here we are creating date_range for - dt
# idx = pd.DatetimeIndex(dt)      # then Datetime index
# df = df.reindex(idx)
df.head(10)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

### we can also use : replace() for special values or missing data

In [86]:
df = pd.read_csv('weather_data.csv')

new_df = df.replace([-99999,-88888], np.NaN)       # simple

new_df = df.replace({
    'temperature':[-99999,-88888],
    'windspeed':[-99999,-88888],         # we can use {} , bcoz in windspeed 0 matters
    'event':'0'
}, np.NaN)


new_df = df.replace({                 # another way
    -99999: np.NaN,
    'no event': 'Sunny'  
})

In [100]:
# regex  -- used to detect patterns , we are using here for different temp (F , C )and windspeed(mph)
new_df = df.replace(to_replace=['-99999','-88888'],value='new', regex=True)
new_df = df.replace('[FCmph]','', regex=True)

        day temperature windspeed     event
0  1/1/2017         32         6       Rain
1  1/2/2017      -99999         7     Sunny
2  1/3/2017          28    -99999      Snow
3  1/4/2017      -99999         7  no event
4  1/5/2017         32     -88888      Rain
5  1/6/2017          31         2     Sunny
6  1/6/2017          34         5  no event

In [102]:
# Replace a list of values with another list of values
df = pd.DataFrame({
    'score':['exceptional','average','good','poor','average','exceptional'],
    'student':['rob','maya','parthiv','tom','julian','erica']
})

# we replace here score with grades (also we can replace with no.[1,2,3,4] )
new_df = df.replace(['poor','average','good','exceptional'],['D','B','C','A'])
# new_df

## Groupby ()

#### Split Apply combine : dividing your data into multiple groups, then applying some analytics to get aggregate result.

In [33]:
df = pd.read_csv('weather_city_data.csv')
df.head(10)

        day      city  temperature  windspeed   event
0  1/1/2017  new york           32          6    Rain
1  1/2/2017  new york           36          7   Sunny
2  1/3/2017  new york           28         12    Snow
3  1/4/2017  new york           33          7   Sunny
4  1/1/2017    mumbai           90          5   Sunny
5  1/2/2017    mumbai           85         12     Fog
6  1/3/2017    mumbai           87         15     Fog
7  1/4/2017    mumbai           92          5    Rain
8  1/1/2017     paris           45         20   Sunny
9  1/2/2017     paris           50         13  Cloudy

In [34]:
g = df.groupby('city')   # city - is column name , groupby() creates DataFrame object by same city names. 
# groupby() is similar to SQL, like: SELECT * from city_data GROUP BY city , (city_data - table name)

In [36]:
# g.get_group('paris')        # we can get by this particularly

for city, city_df in g:       # and also using for loop like this
    print(city)
    print(city_df)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [119]:
g.max()      # Split Apply Combine   , gives max. temp. of all cities   

# g.describe()

#### We can also do plot of groupby()

In [120]:
%matplotlib inline

g.plot()

# ----------------------------------------------------------

### concat() DF

In [125]:
# 'axis=0' append data row-wise , 'axis=1' append data column-wise

india_weather = pd.DataFrame({                             
    'city':['delhi','mumbai','bangalore'],
    'temperature':[32,45,30],
    'humidity':[80,60,74]
})

us_weather = pd.DataFrame({
    'city':['new york','chicago','orlando'],
    'temperature':[21,41,35],
    'humidity':[68,65,45]
})

# its using index of both df , so we use : ignore_index=True
df = pd.concat([india_weather, us_weather], ignore_index=True)    
# df

In [127]:
# using keys=[] concatenate in separate groups 
df = pd.concat([india_weather,us_weather], keys=['India','US'])   
# df

df.loc['India']    # By this we can retrieve data of separate , loc - location

In [3]:
# But 1 problem, if data is missing or city name are not same or position changed,
# then use : index=[] for particular city

temperature_df = pd.DataFrame({
    'city':['delhi','mumbai','bangalore'],
    'temperature':[32,45,30],
}, index=[0,1,2])                                # index=[ delhi-0 , mumbai-1 , bangalore-2] 


windspeed_df = pd.DataFrame({
    'city':['mumbai','delhi','bangalore'],
    'windspeed':[7,10,15],
}, index=[1,0,2])                              

df = pd.concat([temperature_df, windspeed_df], axis=1)
df

        city  temperature       city  windspeed
0      delhi           32      delhi         10
1     mumbai           45     mumbai          7
2  bangalore           30  bangalore         15

In [7]:
df = pd.concat([temperature_df, windspeed_df], ignore_index=True)     # It concatenate 1 after 1
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

        city  temperature  windspeed
0      delhi         32.0        NaN
1     mumbai         45.0        NaN
2  bangalore         30.0        NaN
3     mumbai          NaN        7.0
4      delhi          NaN       10.0
5  bangalore          NaN       15.0

#### concat with series

In [146]:
s = pd.Series(['Humid', 'Dry', 'Rain'], name='event')    # creating a series

In [150]:
df = pd.concat([temperature_df, s], axis=1)
# df

### merge()

In [159]:
# we did with same cities in DF, if cities are different in DF,
# like in database concept - innerjoin and outerjoin, so we use union of -> how='outer'

df1 = pd.DataFrame({                                         
    'city':['new york','chicago','orlando','baltimore'],
    'temperature':[21,14,35,32]
})

df2 = pd.DataFrame({
    'city':['chicago','new york','san francisco'],
    'humidity':[65,68,71]
})

df3 = pd.merge(df1, df2, on='city', how='outer', indicator=True)    

# on='city' will merge data of same city only
# how='outer' will merge all data ,  'inner' is default.
# how='left' take all of 1st and common of 2nd , 
# how='right' will take all 2nd and common of 1st elements of city.
# indicator=True , will give another column which tells data coming from which DF
# if we have same columns in both then we use  ->  suffixes() -->  suffixes=('_left','_right')

### Pivot -- allows you to reshape or transform data

### Pivot table  -- is used to summarize and aggregate your tabular data inside DF

In [176]:
df = pd.read_csv('weather_pivot.csv', parse_dates=['date'])

In [177]:
df.pivot(index='date', columns='city', values='humidity')                                      # pivot()

# values=[] what we provide it will give in DF

city        beijing  mumbai  new york
date
2017-05-01       26      80        56
2017-05-02       30      83        58
2017-05-03       35      85        60

In [ ]:
df.pivot(index='city',columns='date')

In [175]:
df.pivot_table(index='date', columns='city', aggfunc='sum', margins=True)      # pivot_table()

# Now create a DF contains avg. temp., without (aggfunc) it gives mean or we can provide aggfunc='mean'
# aggfunc - aggregate function , it does what we provide(sum,diff,count,mean,etc.)
# margins=True , provide aggregate of again values by 'All' column

         humidity                      temperature
city      beijing mumbai new york  All     beijing mumbai new york  All
date
5/1/2017       26     80       56  162          80     75       65  220
5/2/2017       30     83       58  171          77     78       66  221
5/3/2017       35     85       60  180          79     82       68  229
All            91    248      174  513         236    235      199  670

### Grouper()

In [180]:
df.pivot_table(index=pd.Grouper(freq='M', key='date'), columns='city')

             humidity                     temperature
city          beijing     mumbai new york     beijing     mumbai   new york
date
2017-05-31  30.333333  82.666667     58.0   78.666667  78.333333  66.333333

## melt() -- reshape or transform data

In [181]:
df = pd.read_csv('weather4.csv')

In [182]:
df1 = pd.melt(df, id_vars=['day'], var_name='city', value_name='temperature')
#df1

In [185]:
df1[df1['city']=='chennai']     # we will get chicago data only

### Stack - Unstack

In [202]:
df = pd.read_excel('stocks.xlsx', header=[0,1])     # use of header[] , for data columns 
# df

In [203]:
df_stacked = df.stack(dropna=True)    # dropna drops NaN values, level=0 : level used for header
# df_stacked

In [205]:
df_stacked.unstack()         # Unstack()  : now we do reverse transformation , we get back original df

##### Now we have 3 level of headers -> file : stocks_3_levels.xlsx

In [208]:
df = pd.read_excel('stocks_3_levels.xlsx', header=[0,1,2])
# df

In [213]:
df.stack(level=2)

## Crosstab (or contingency table)

###### In stats : crosstab(or contingency table) is a type of table in a matrix format which displays the freq. Distribution of var.

In [38]:
df = pd.read_excel('survey.xls')

In [220]:
pd.crosstab(df.Nationality, df.Handedness, margins=True)     # margins : provide total  'All' column

In [225]:
pd.crosstab([df.Sex, df.Nationality], df.Handedness, margins=True)

In [228]:
pd.crosstab(df.Sex, df.Handedness, normalize='index')    # normalize  gives percentage , see documentation

Handedness      Left     Right
Sex
Female      0.400000  0.600000
Male        0.714286  0.285714

In [229]:
# Here we finding average of age (values=Age) , average is numpy func. so using np.average (aggfunc)

pd.crosstab(df.Sex, df.Handedness, values=df.Age, aggfunc=np.average)

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0

# -------------------------------------------------------------------

## rename column and find correlation

In [230]:
df.rename(columns={'bmi':'Body_Mass_Index'}, inplace=True)

In [231]:
data = df[['age','children','charges']]
correlation = data.corr(method='pearson')      # method='spearman'
correlation

### pandas profiling

In [40]:
import pandas_profiling

df.profile_report()   # dataset - df  
# shows the different aspects of the dataset through amazing pandas profiling tool
# dataset.profile_report(style={'full_width':True})